#nprogress .bar {
   /* background-color: #df1b22 !important; */
   background-color: #8bc400 !important;
}

body {
   /* background-color: #936896; */
   background-color: #29526a;
   /* background-image: url(/images/bg-body.png); */
   background-position: center center;
   background-repeat: repeat;
   /* background-size: 500px; */
   /* box-shadow: 0 0 0 3px hsla(77, 100%, 38%, 0.502); */
   /* animation: animatedBackground 10s linear infinite; */
   /* height: 100% !important; */
}

/* @keyframes animatedBackground {
   from {
      background-position: 0 0;
   }
   to {
      ackground-position: -100px 0;
   }
} */

main {
   /* background-color: #000000; */
}

.flip-x {
   transform: scaleX(-1);
}

/* 
input[type="radio"] + label span {
    transition: background .2s,
      transform .2s;
}

input[type="radio"] + label span:hover,
input[type="radio"] + label:hover span{
  transform: scale(1.2);
} 

input[type="radio"]:checked + label span {
  background-color: #3490DC; 
  box-shadow: 0px 0px 0px 2px white inset;
}

input[type="radio"]:checked + label{
   color: #3490DC; 
} */

.custom-input {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background-color: transparent;
   /* border-color: #495057; */
   border-width: 1px;
   font-weight: 500;
   padding: 8px 12px;
   font-size: 16px;
   line-height: 1.5;
}

.required-label::after {
   content: '*';
   color: red;
}

textarea {
   resize: none;
}

.absolute-center {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.absolute-v-center {
   position: absolute;
   top: 50%;
   transform: translate(0, -50%);
}

/* fix box-shadow input tailwind3/tailwindform/react-select  */
.react-select input {
   box-shadow: none !important;
}

.lottie-fix svg {
   cursor: default;
}

.brand-bg {
   /* border-image: linear-gradient(to right, red, red); */
   background: rgb(226, 163, 40);
   background: linear-gradient(
      -116deg,
      rgba(226, 163, 40, 1) 14%,
      rgba(0, 155, 152, 1) 67%,
      rgba(0, 155, 152, 1) 100%
   );
   border-width: 1px;
   border-style: solid;
   border-image: linear-gradient(
         -116deg,
         rgba(226, 163, 40, 1) 14%,
         rgba(0, 155, 152, 1) 67%,
         rgba(0, 155, 152, 1) 100%
      )
      1;
}

[dir='ltr'] .polygon-btn {
   clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
}

[dir='rtl'] .polygon-btn {
   clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
}

/* 
.polygon-btn:hover {
   clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
} */

.stroke {
   -webkit-text-stroke-width: 4px;
   -webkit-text-stroke-color: #ffbf1f;
   -webkit-text-fill-color: white;
   letter-spacing: 4px;
   font-weight: bold;
   /* font-family: Impact, Charcoal, sans-serif; */
   text-shadow: 0.625rem 0.625rem 0 rgba(0, 0, 0, 0.2);
}

.c-box-shadow {
   box-shadow: 0.625rem 0.625rem 0 rgba(0, 0, 0, 0.2);
}

/* .input-outline {
   border: 10px solid #000;
   border-radius: 20px;
   outline: none;
   outline-offset: 0px;
} */
